h1, h3, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


.First {
    background-color: skyblue;
    color: white;
    text-align: center;
}


span{
    background-color: darkblue;
    color: white;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    display: flex;
}

.navbar > li {
    flex: 1;
    text-align: center;
    position: relative;
}

.navbar > li > a {
    color: white;
    text-decoration: none;
    display: block;
    
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.Content {
    background-color: #f0f0f0;
    padding: 20px;
}


@media all {
    body {
        background-color: #f0f0f0;
    }
}


@media print {
    body {
        background-color: white;
        color: black;
    }
}


